.header {
    position: sticky;    
    top: 0;       
    z-index: 1000;       
    padding: 15px;
    display: flex; 
    justify-content: flex-start; 
    align-items: center; 
    margin:  0px 100px;
    background-color: white;
  }

  .logo {
    display: flex;  
    align-items: center;  
    margin-right: 50px;
  }
  
  .logo-img {
    width: 35px;  
    height: auto; 
  }
    
  .header-list {
    position :relative;
    list-style: none;
    padding: 0px ;
    display: flex;  
    justify-content: center;  
    flex-grow: 1;
    right :10%;
  }
    
  .header-list li {
    margin:  0px 50px;  
  }
    
  .header-list li a {
    color: #6739B7; 
    text-decoration: none;
    font-size: 20px;
  }
  
  .contact-button {
    position: absolute;
    right :-50px;
    background-color: #6739B7;  
    color: white;  
    padding: 20px 75px; 
    border-radius: 10px;
    font-size: 20px;  
    font-weight: bold; 
    text-align: center; 
    display: inline-block; 
    text-decoration: none; 
    margin-left: none;  
    border: none;
  }
  
  .header-list li a:hover {
    color: #3501a3; 
  }
  
  .contact-button:hover {
    background-color: #3501a3; 
    color: white; 
  }
  